.card {
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.card > * {
  flex: 1 1 100%;
}

.controls {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 1024px) {
  .card {
    flex-flow: row nowrap;
    align-items: center;
    padding: 21px 40px;
    position: relative;
  }

  .card:hover {
    outline: 1px solid #D9D9D9;
  }

  .card:hover h2 a, .card:focus-within h2 a  {
    color: var(--orange);
  }

  .card > * {
    flex: unset;
  }

  .controls {
    padding-right: 0;
    padding-left: 0;
    margin-left: 24px;
    order: 3;
    position: relative;
    z-index: 1;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
  }
}
